.div-container{
    text-align: center;
}

.inner-div{
    display : inline-block;
    background-image: linear-gradient(90deg, coral 0%, #ff99cc 100%);
    height : 70%;
    width : 60%;
}

.jumbotron{
    background : none;
}

.div-padding{
    padding : 2%
}